<div fxLayout="column" fxFlex="100" class="special_section">
  <!-- <div> -->
    <!-- <h1 style="text-align: center;">Cradle to Cradle Dashboard</h1></div> -->
  <div class="top_grid_section">
    <div fxFlex="25" class="top_grid_section_item">
      <div fxLayout="row" class="section-1">
        <div fxFlex="30" class="section-green">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div fxFlex="70" class="section-text">
          <b>{{total_stores}}</b>
          <p>Total Stores</p>
        </div>
      </div>
    </div>
    <div fxFlex="25" class="top_grid_section_item">
      <div fxLayout="row" class="section-1">
        <div fxFlex="30" class="section-green">
            <mat-icon>people
              </mat-icon>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div fxFlex="70" class="section-text">
          <b>{{total_emps}}</b>
          <p>Total Users</p>
        </div>
      </div>
    </div>
    <div fxFlex="25" class="top_grid_section_item">
      <div fxLayout="row" class="section-1">
        <div fxFlex="30" class="section-green">
            <mat-icon>rate_review
              </mat-icon>
        </div>
        <div fxFlex="70" class="section-text">
          <b>{{total_checkin}}</b>
          <p>Total CheckIns</p>
        </div>
      </div>
    </div>
    <div fxFlex="25" class="top_grid_section_item">
      <div fxLayout="row" class="section-1">
        <div fxFlex="30" class="section-green">
          <mat-icon>check_circle
          </mat-icon>
        </div>
        <div fxFlex="70" class="section-text">
          <b>0</b>
          <p>Recaps</p>
        </div>
      </div>
    </div>
    <div fxFlex="25" class="top_grid_section_item">
      <div fxLayout="row" class="section-1">
        <div fxFlex="30" class="section-green">
          <mat-icon>today
          </mat-icon>
        </div>
        <div fxFlex="70" class="section-text">
          <b>MONTHLY</b>
          <p>Current Subscription</p>
        </div>
      </div>
    </div>
  </div>
  <div class="report_section" fxLayout="column  " fxLayout-wrap>
    <div fxLayout="row" fxFlex="100" class="report_section">
      <div fxFlex="50">
        <h4>Check In Report</h4>
      </div>
      <div fxFlex="50">
        <div fxLayout="row" class="section-search">
          <input class="right_search" type="text">
          <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
    <div fxFlex="100">
      <span class="report_status_icon"> <input type="checkbox" class="section-select" /><mat-icon  >done</mat-icon><span>Sales</span></span>
      <span class="report_status_icon"> <input type="checkbox" class="section-select" /><mat-icon  >done</mat-icon><span>Customer Service</span></span>
      <span class="report_status_icon"> <input type="checkbox" class="section-select" /><mat-icon  >done</mat-icon><span>Loss Prevention</span></span>
      <span class="report_status_icon"> <input type="checkbox" class="section-select" /><mat-icon  >done</mat-icon><span>Team Work</span></span>
      <span class="report_status_icon"> <input type="checkbox" class="section-select" /><mat-icon  >done</mat-icon><span>Procedure</span></span>
      <span class="report_status_icon"> <input type="checkbox" class="section-select" /><mat-icon  >done</mat-icon><span>Task</span></span>
      <span class="report_status_icon"> <input type="checkbox" class="section-select" /><mat-icon  >done</mat-icon><span>Policy</span></span>
      <span class="report_status_icon"> <input type="checkbox" class="section-select" /><mat-icon  >done</mat-icon><span>Attendance</span></span>
    </div>
    <div class="image_bottom">
      <img src="assets/images/graph.jpg" />
    </div>
  </div>
  <div class="top_grid_section report_section" fxLayout="column">
    <h4 fxFlex="100">Recnet Activity</h4>
    <div fxLayout="row">
      <div fxFlex="33" class="image_bottom">
        <img src="assets/images/UF_Frch_Dashboard2_03.gif">
      </div>
      <div fxFlex="33" class="image_bottom">
        <img src="assets/images/UF_Frch_Dashboard2_06.gif">
      </div>
      <div fxFlex="33" class="image_bottom">
        <img src="assets/images/UF_Frch_Dashboard2_08.gif">
      </div>
    </div>
  </div>
</div>
