.example-card {
  width: 400px;
}

.titleText{
  //background-color: darkblue !important;
  font-size:20px !important;
  display: inline;
  text-align: center;
} 

.spaceRight{
  margin-right: 1%;
}

.spaceAbove{
  margin-top: 2%;
}
