<div style="width:600px" id="addfranchise">
  <mat-toolbar mat-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Change Password</span>
    </div>
  </mat-toolbar>
  <div>
    <form novalidate [formGroup]="changePasswordForm" fxFlex>
      <div mat-dialog-content class="p-24 m-0" perfect-scrollbar fxLayout="row">
        <mat-form-field fxFlex="100">
          <input matInput placeholder="Old Password" formControlName="oldPassword">
          <mat-error *ngIf="formErrors.oldPassword.required">
            Required
          </mat-error>
        </mat-form-field>
      </div>
      
      <div mat-dialog-content class="p-24 m-0" perfect-scrollbar fxLayout="row">
        <mat-form-field fxFlex="100">
          <input matInput placeholder="New Password" formControlName="newPassword">
          <mat-error *ngIf="formErrors.newPassword.required">
            Required
          </mat-error>
        </mat-form-field>
      </div> 

        <div mat-dialog-content class="p-24 m-0" perfect-scrollbar fxLayout="row">
        <mat-form-field fxFlex="100">
          <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
          <mat-error *ngIf="formErrors.confirmPassword.required">
            Required
          </mat-error>
        </mat-form-field>
      </div>
      <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <button mat-raised-button class="save-button mat-accent" aria-label="SAVE" (click)="changePassword()" [disabled]="changePasswordForm.invalid">
            Create
          </button>
          <button mat-button (click)="dialogRef.close(false)">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
