// Created on 25_01_2018 Upfront dashboard section
@font-face {
  font-family: 'dosis-regular';
  // src: url('E:/projects/UpFront/Live/upfront_web/src/assets/fonts/dosis-regular-webfont.woff2') format('woff2'),
//  src: url('E:/projects/UpFront/Live/upfront_web/src/assets/fonts/dosis-regular-webfont.woff') format('woff');
  src: url('../../../../../../assets/fonts/dosis-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  //
}
@font-face {
  font-family: 'opensans-regular';
  // src: url('E:/projects/UpFront/Live/upfront_web/src/assets/fonts/opensans-regular_0-webfont.woff2') format('woff2'),
//  src: url('E:/projects/UpFront/Live/upfront_web/src/assets/fonts/opensans-regular_0-webfont.woff') format('woff');
  src: url('../../../../../../assets/fonts/opensans-regular_0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold';
  // src: url('E:/projects/UpFront/Live/upfront_web/src/assets/fonts/opensans-semibold_0-webfont.woff2') format('woff2'),
  //src: url('E:/projects/UpFront/Live/upfront_web/src/assets/fonts/opensans-semibold_0-webfont.woff') format('woff');
  src: url('../../../../../../assets/fonts/opensans-semibold_0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import "src/app/core/scss/fuse";

$primary_color:#12b7b0;
$bg_color: #f4f4f4;
$header_bg_color: #fbfbfb;
$heading_color: #343434;
$recognize_color: #4886c4;
$correction_mi_color: #6e5291;
$correction_ma_color: #ed6863;
$info_color: #5d5d5d;
$font_color: #757575;
$recognize_color_border : #397abb;
$correction_mi_color_border : #634589;
$correction_ma_color_border : #e85b56;


* {
  transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

%box_format {
  height: auto;
  width: 100%;
  padding: 20px 20px 25px;
  border: 1px solid #ededed;
  background: White;
}

%form_input {
  border: 1px solid #b2b2b2;
  width: 100%;
  height: 40px;
  font-size: 15px;
  background: white;
  border-radius: 3em;
  padding: 0 15px;
  font-family: 'opensans-regular';
}
.recognize_color {
  color: $recognize_color;
}
.correction_mi_color {
  color:$correction_mi_color;
}
.correction_ma_color {
  color:$correction_ma_color;
}
.info_color {
  color:$info_color;
}
body.primary-800-bg {
  background: $bg_color;
  font-family: 'opensans-regular';
}

.dashboard_section {
  width: 100%;
  float: left;
  padding: 25px;
  box-sizing: border-box;

  .filter_section {
    @extend %box_format;

    h2 {
      color: $heading_color;
      font-size: 17px;
      margin: 0;
      font-family: 'dosis-regular';
      font-weight: 500;
      padding-bottom: 15px;
    }

    .filter_form {
      > div {
        padding: 0 15px;

        label {
          position: relative;

          img {
            position: absolute;
            width: 20px;
            left: 15px;
            top: -1px;
          }
          input {
            text-indent: 25px;
          }
          mat-form-field{
            width: 100%;
            .mat-input-wrapper.mat-form-field-wrapper {
              padding-bottom: 0;
              .mat-input-underline.mat-form-field-underline {
                opacity: 0;
              }
              .mat-select-arrow{
                margin-right: 15px;
              }
              .mat-form-field-underline {
                background-color:transparent;
              }
              .mat-input-flex.mat-form-field-flex{
                .mat-input-infix.mat-form-field-infix{
                  border: 1px solid #b2b2b2;
                  border-radius: 2em;
                  height: 40px;
                  line-height: 10px;
                  padding: 0;

                  span.mat-input-placeholder-wrapper {
                    label.mat-input-placeholder{
                      height: 40px;
                      top: 14px;
                      left: 35px;
                    }
                    .mat-input-ripple.mat-form-field-ripple {
                      background-color: transparent;
                    }
                  }
                  mat-select{
                    .mat-select-trigger {
                      .mat-select-value{
                        height: 40px;
                        padding-top: 15px;
                        padding-left: 15px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        input,
        select {
          @extend %form_input;
        }
        mat-datepicker-toggle {
          position: absolute;
          top: -10px;
          left: 5px;
          opacity: 0;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  .btn_primary {
    background: $primary_color;
    padding: 5px 10px;
    border-radius: 2em;
    display: inline;
    text-align: center;
    line-height: 25px;
    color: white;
    font-size: 15px;
    height: 35px;
    width: auto;
    margin-top: 2.5px;
  }
span.tool_tip {
  display: inline-block;
      position: absolute;
      top: -43px;
      background: inherit;
      width: auto;
      border-radius: 5em;
      min-width: 145px;
      left: 5%;
      height: 30px;
      line-height: 30px;
      font-size: 13px;
      display: none;

&:before {
  content: "";
position: absolute;
width: 15px;
height: 15px;
background: inherit;
left: 42%;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
bottom: -8px;
}

}

  .tags {
    display: inline-block;
    height: 30px;
    font-size: 13px;
    color: white;
    background: #4886c4;
    position: relative;
    border-color: #3476b7;
    border-width: 1px 0 1px 0;
    border-style: solid;
    line-height: 26px;
    z-index: 1;
    padding: 0 15px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    border-radius: 4em;

    // &:before {
    //   width: 5px;
    //   height: 30px;
    //   position: absolute;
    //   left: -5px;
    //   content: "";
    //   border-color: inherit;
    //   border-width: 1px 0 1px 0;
    //   border-style: solid;
    //   background: inherit;
    //   display: inline-block;
    //   border-radius: 8px 0 0 8px;
    //   top: -1px;
    // }
    //
    // &:after {
    //   content: "";
    //   width: 20px;
    //   height: 20px;
    //   border-color: inherit;
    //   border-width: 1px 1px 0 0;
    //   border-style: solid;
    //   background: inherit;
    //   -webkit-transform: rotate(45deg);
    //   transform: rotate(45deg);
    //   position: absolute;
    //   right: -10px;
    //   top: 4px;
    //   z-index: -1;
    // }
  }

  .progress_data {
    > div {
      @extend %box_format;
      margin: 0 15px;
      padding: 0;

      .progress_header {
        background: $header_bg_color;
        border-bottom: 1px solid #f1f1f1;
        padding: 10px 15px;
        height: 50px;

        h2 {
          font-size: 17px;
          color: $heading_color;
          margin: 0;
          line-height: 30px;
        }
      }

      .progress_iteam_data {
        font-family: 'opensans-regular';
        padding: 10px 15px;

        h3 {
          color: #2e2e2e;
          font-size: 35px;
          text-align: center;
          margin: 0 15px;
        }

        p {
          color: $font_color;
          text-align: center;
          font-size: 15px;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
    margin-top: 30px;
  }

  .conversation_data {
    margin-top: 20px;

    > div.conversation_data_left {
      @extend %box_format;
      margin: 0 15px;
      padding: 20px;

      h2 {
        color: $heading_color;
        font-size: 17px;
        margin: 0;
        font-family: 'dosis-regular';
        font-weight: 500;
        padding-bottom: 15px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .conversation_type {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;

        li {
          list-style: none;
          margin-top: 10px;
          width: 100%;

          span.type_count {
            float: right;
          }
        }

        li.recognize {
          span.tags {
            background: $recognize_color;
            border-color: $recognize_color;
          }

          span.type_count {
            text-align: right;
            display: inline-block;
            float: right;
            color: $recognize_color;
          }
        }

        li.correction_mi {
          span.tags {
            background: $correction_mi_color;
            border-color: $correction_mi_color;
          }

          span.type_count {
            text-align: right;
            display: inline-block;
            float: right;
            color: $correction_mi_color;
          }
        }

        li.correction_ma {
          span.tags {
            background: $correction_ma_color;
            border-color: $correction_ma_color;
          }

          span.type_count {
            text-align: right;
            display: inline-block;
            float: right;
            color: $correction_ma_color;
          }
        }

        li.info {
          span.tags {
            background: $info_color;
            border-color: $info_color;
          }

          span.type_count {
            text-align: right;
            display: inline-block;
            float: right;
            color: $info_color;
          }
        }
      }
    }
    .conversation_progress_status {
      @extend %box_format;
      margin: 0 15px;
      padding: 20px;
      margin-right: 0;

      h2 {
        color: $heading_color;
        font-size: 17px;
        margin: 0;
        font-family: 'dosis-regular';
        font-weight: 500;
        padding-bottom: 15px;
      }
      ul {
        padding: 0;
        margin: 0;
        width: 100%;
        border: none;
        li {
          padding: 0;
          margin: 0;
          width: 100%;
          background: red;
          list-style: none;
          height: 40px;
          text-align: center;
          color: white;
          line-height: 40px;
          position: relative;

          &:first-child {
          border-radius:20px 0  0 20px;
          }

          &:last-child {
            border-radius:  0   20px 20px 0;
          }

          &:hover .tool_tip {
              display: inline-block;
          }

        }
        li.recognize {
          background: $recognize_color;
          border-color: $recognize_color_border;
        }
        li.correction_mi {
          background: $correction_mi_color;
          border-color: $correction_mi_color_border;
        }
        li.correction_ma {
          background: $correction_ma_color;
          border-color: $correction_ma_color_border;
        }
      }
    }
    .progress_value_section {
      // @extend %box_format;
      margin: 0 15px;
      margin-right: 0;
      // padding: 20px;

      .progress_value {
        @extend %box_format;
        margin: 15px;
        padding: 0px;
        margin-bottom: 0;
        // max-width: calc(50% - 15px) !important;

        .progress_value_header{
          background: $header_bg_color;
          border-bottom: 1px solid #f1f1f1;
          padding: 10px 15px;
          height: 50px;

          h2 {
            color: $heading_color;
          font-size: 17px;
          margin: 0;
          font-family: 'dosis-regular';
          font-weight: 500;
          line-height: 30px;
          }

        }
        .progress_value_details {
          padding-bottom: 15px;

          p{
            color: $font_color;
            padding-left: 15px;
            margin: 0;
            margin-top: 10px;
          }
          p.topic_progress_value {
            color: black;
            font-weight: bold;
            margin-top: 15px;
            font-family: 'opensans-semibold';
          }
        }
        .progress_status_value {
            font-family: 'opensans-semibold';
            font-size: 30px;

            margin-top: 15px;

            img {
              vertical-align: baseline;
            }
        }
        .neg_value {
          color: red;
        }
        .pos_value{
          color: $primary_color;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

      }
    }


  }
  .notifications {  @extend %box_format;
    margin: 0 ;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 20px;

    .notify_header {
      background: $header_bg_color;
      border-bottom: 1px solid #f1f1f1;
      padding: 10px 15px;
      height: 50px;

      h2 {
        font-size: 17px;
        color: $heading_color;
        margin: 0;
        line-height: 30px;

      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-family: 'opensans-regular';
      li{
        padding: 0;
        margin: 0;
        list-style: none;
        padding: 5px 0;

        .user_img_notify {
          width: 40px;
          height: 40px;
          border: #d7d7d7 solid 1px;
          border-radius: 100%;
          overflow: hidden;
          display: inline-block;
          max-width: 40px !important;
          margin-right: 25px;
          margin-left: 15px;

          img {
            width: 40px;
            height: auto;

          }

        }
        p {
          color: $font_color;
          font-size: 14px;
          display: inline-block;
          margin: 0;
          line-height: 35px;
          .recognize {
            color: $recognize_color;
          }
        }
        &:first-child{
          padding-top: 10px;
        }
        span.btn_primary {
          margin: 0 10px;
        }
      }
    }
  }
}

@include media-breakpoint-down('md'){

    .dashboard_section .filter_section .filter_form > div {
      padding: 0;
      margin: 5px;
    }
    .dashboard_section .progress_data > div:first-child {
      margin: 10px 10px;
    }
    .dashboard_section .progress_data > div:last-child {
      margin-right: 15px;
    }
    .dashboard_section .progress_data > div {
          margin: 10px 10px;
          margin-bottom: 10px;
    }
    .dashboard_section .conversation_data .conversation_progress_status {
          margin:15px 0;
    }
    .dashboard_section .conversation_data .progress_value_section {
      margin:15px 0;
    }
}

@include media-breakpoint-down('sm'){

    .dashboard_section .filter_section .filter_form > div {
      padding: 0;
      margin-bottom: 10px;
    }
    .dashboard_section .conversation_data .progress_value_section .progress_value:last-child {
      margin-left: 0px;
    }

}
@include media-breakpoint-down('xs'){
    .dashboard_section .notifications ul li p {
      padding: 0px 0px;
      padding-right: 5px;
      line-height: 18px;
      font-size: 13px;
    }
    .dashboard_section .btn_primary {
      margin: 10px;
      margin-bottom: 10px;
    }
    .dashboard_section .notifications .notify_header {
      height: auto;
      h2 {
        line-height: 20px;
      }
    }
    .dashboard_section .notifications ul li {
      .user_img_notify {
        margin-right: 10px;
      }

    }
.dashboard_section .conversation_data .progress_value_section .progress_value .pos_value , .dashboard_section .conversation_data .progress_value_section .progress_value .neg_value{
  font-size: 23px;
}
.dashboard_section .conversation_data .progress_value_section .progress_value {
  margin-right: 0;
}
}
