button {
    background-color: #376716;
}

.md-accent-bg {
    background-color: #8bd94c !important;
    color: white !important;
}

button.add-file-button.add_btn_top {
    background: #376716;
    color: white;
    padding: 10px 10px;
    margin-left: 25px;
    border-radius: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .sample_link{
    color:#376716;
  }
  
  .searchbar{
    padding:8px;
    margin:15px 15px 25px 0px;
    width:100%;
    box-shadow: 5px 5px 5px #f0f0f0;
    /*border-bottom: 2px solid grey;*/
  }