<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header md-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="center start">
      <!-- <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Store</span>
      </div> -->
      <div class="h2 mt-16">Store</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <button style="height: 39px;width: 75px;" class="add-file-button add_btn_top" (click)="addStore()">
        <!-- <mat-icon>add</mat-icon> -->
        <span>Add</span>
      </button>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-24">
    <input type='text' class="searchbar" placeholder='Search by name' (keyup)='updateFilter($event)' />
    <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable" [limit]="10">
      <ngx-datatable-column name="Store Name" prop="store_name">
      </ngx-datatable-column>
      <ngx-datatable-column name="Brand" prop="brand">
      </ngx-datatable-column>  
       <ngx-datatable-column name="Store Location" prop="store_loc">
      </ngx-datatable-column>
     <!--  <ngx-datatable-column name="Store City" prop="store_city">
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Actions">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-i="index">
          <i class="material-icons" (click)=editStore(row) matTooltip="Edit">mode_edit</i>
          <span class="iconspacing"></span>
          <i class="material-icons" (click)=deleteStore(row) matTooltip="Delete">delete</i>
          <span class="iconspacing"></span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
