<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header md-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="center start">
      <!--  <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</md-icon>
        <md-icon class="secondary-text s-16">chevron_right</md-icon>
        <span class="secondary-text">User</span>
      </div> -->
      <div class="h2 mt-16">User Management</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <button style="height: 39px;width: 75px;" class="add-file-button add_btn_top"  (click)="addUser()">
        <!-- <mat-icon>add</mat-icon> -->
        <span>Add</span>
      </button>
      <input hidden type="file" #fileInput (change)="fileChange($event)" />
      <button class="add-file-button add_btn_top" (click)="fileInput.click()" aria-label="Add file">
        Upload CSV
      </button>
      <div id="down">
        <!-- <a href="{{baseurl}}/api/Containers/csv/download/sample.csv" class="sample_link">Download Sample CSV</a> -->
        <button class="add-file-button add_btn_top" (click)="createSampleFile()">Download Sample CSV</button>
      </div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-24">
    <input type='text' class="searchbar" placeholder='Search....' (keyup)='updateFilter($event)' />
    <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable" [limit]="10">
      <ngx-datatable-column name="Name" prop="first_name">
      </ngx-datatable-column>
      <ngx-datatable-column name="Designation" prop="designation">
      </ngx-datatable-column>
      <ngx-datatable-column name="Email" prop="email">
      </ngx-datatable-column>
<!--       <ngx-datatable-column name="Role" prop="role" *ngIf="managerId!=''">
      </ngx-datatable-column> -->
      <!--  <ngx-datatable-column name="Franchise" prop="Franchise.company_name">
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Role">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex" let-i="index">
          <span (click)="loadInLine(valueText[row.id], row)" *ngIf="!editing">
            {{valueText[row.id]}}
          </span>
          <inline-editor *ngIf="editing" type="select" [(ngModel)]="editableSelect[row.id]" (onChange)="saveEditable($event, row)" [options]="editableSelectOptions" value="editableSelectOptions">
          </inline-editor>
          <!--  <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let data of editableSelectOptions" [value]="data.text">{{data.text}}</mat-option>
          </mat-select> -->
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Location" prop="Store.store_loc">
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-i="index">
          <i class="material-icons" (click)=editUser(row) matTooltip="Edit">mode_edit</i>
          <span class="iconspacing"></span>
          <i class="material-icons" (click)=deleteUser(row) matTooltip="Delete">delete</i>
          <span class="iconspacing"></span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
