.spacebtwn{
	margin-left: 10%;
}
.start-card {
 width: 1000px;
}
.cardtitle{
 margin-left: 173px;
 font-size: 23px;
}
.maindiv{
	margin-top: 35px;
}
.mat-form-field {
    width: 200px;
    margin-left: 106px;
}